
<div>
    <h2 id="objTitle"> DS: {{ds.name}} </h2>
    <p id="objDesc"> {{ds.description}}</p>
    <a href="{% url 'EFM:newFR' ds.id %}" title="New FR">[+]</a>
    <div class="newFRbutton" id="newFR{{ds.id}}">[+add]</div>
    <p> <h3>fulfills fr: </h3> {{ds.isb.name}}</p>
    <p>
    <h3> requires the functions: </h3>
        <ul>
        {% for f in ds.fr_set.all %}
            <li>{{f.name}}</li>
        {% empty %}
            <li> NO FR </li>
        {% endfor %}
        </ul>
    </p>
</div>
