{% extends "efm/frame.html" %}

{% block title %}
{{fr.name}}
{% endblock %}

{% block mainContent %}
<div class="efmTree">
    <div class="frTree">
        {% include  "efm/treeview.html" %}
    </div>
</div>

<div id="closeDetailsCanvas">&lt;</br>&gt;</div>

<div id="detailsCanvas">
    <h2> click on an object for details </h2>
    {% comment %}
    <h2 id="objTitle"> {{fr.name}} </h2>
    <p id="objDesc"> {{fr.description}}</p>
    <a href="{% url 'EFM:newFR' %}" title="New FR">[+]</a>
    <p> <h3>parent: </h3> {{fr.rf.name}}</p>
    <p>
    <h3> children: </h3>
        <ul>
        {% for d in fr.ds %}
            <li>d.name</li>
        {% empty %}
            <li> no child-nodes </li>
        {% endfor %}
        </ul>
    </p>
    {% endcomment %}
    
</div>
    
{% endblock %}

{% block javascript %}

$("#closeDetailsCanvas").click(function(){
   $("#detailsCanvas").toggle("slide");
});

// click on DS element
$(".ds").click(function() {
    // getting ID and removing 2 first digits ("ds")
    var id = event.target.id;
    id = id.substring(2)
    
    // highlighting the div via class assignment
    $(".highlight").removeClass("highlight")
    $(this).addClass("highlight")
    
    // loading the respective info into the sidebar:
    $("#detailsCanvas").html('&nbsp;').load('{% url  'EFM:dsSlot' %}' + id + '/');
    
});

//click on FR element
$(".fr").click(function() {
    // getting ID and removing 2 first digits ("fr")
    var id = event.target.id;
    id = id.substring(2);
    
    // highlighting the div via class assignment
    $(".highlight").removeClass("highlight");
    $(this).addClass("highlight");
    
    // loading the respective info into the sidebar:
    $("#detailsCanvas").html('&nbsp;').load('{% url  'EFM:frSlot' %}' + id + '/');
});

$(document).on("click", '.newFRbutton', function() {
    var dsID = this.id.substring(5);
    var dsIDdom = "#ds".concat(dsID);
    var dsContainer = $(dsIDdom).parent()
    var frHTML = "<div class='frTree'>  \
    <svg class='rf' height='1000' width='15'><text x='5' y='35' fill='black'>rf</text>  \
    <line x1='5' y1='0' x2='5' y2='40' style='stroke:rgb(0,0,0);stroke-width:2' />  \
    <line x1='5' y1='40' x2='15' y2='40' style='stroke:rgb(0,0,0);stroke-width:2' />  \
    <div class='fr' id='fr{{fr.id}}'> <h2> FR </h2>TEST TEST</div>  \
    </div>";
    $(dsContainer).append(frHTML);
});



{% endblock %}