{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href={% static 'EFM/css/main.css' %}>
<title>{% block title %} an efm tree {% endblock %} </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div class="flexBox">
    <div class="header">
        <h1> Chalmers Function Modeller </h1>
    </div>
    
    <div class="mainArea">
    
        {% block mainContent %}
        no data to load
        {% endblock %}
    
    </div>
    
</div>
<script>
{% block javascript %}
{% endblock %}
</script>    
</body>

</html>