
<div>
    <h2 id="objTitle"> FR: {{fr.name}} </h2>
    <p id="objDesc"> {{fr.description}}</p>
    <a href="">[+]</a>
    <p> <h3>is required by: </h3> {{fr.rf.name}}</p>
    <p><h3> is solved by: </h3> {{ fr.ds}}</p>
</div>