{% extends "efm/frame.html" %}

{% block title %}
Overview
{% endblock %}

{% block mainContent %}

<h1> all the top-level-fr: </h1>

<ul>
    {% for fr in object_list %}
        <li><a href="{% url 'EFM:treeView' fr.id %}">{{ fr.name }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}

</ul>
{% endblock %}