{# top-node FR: #}
<div class="fr" id="fr{{fr.id}}"> <h2> FR </h2>
    {{ fr.name }}           
</div>
{# each DS gets a "DS-container" aka dsTree: #}
<div class="dsTree">
{% if fr.ds %}
    <svg class="isb" height="80" width="15">
        <text x="0" y="35" fill="black">isb</text>
        <line x1="0" y1="40" x2="15" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
    </svg>
    <div class="ds" id="ds{{fr.ds.pk}}">  <h2>DS</h2>
        {{ fr.ds.name }}  
    </div>
            
        {% for req in fr.ds.fr_set.all %}
        
            {% with fr=req temp_name='EFM/treeview.html' %}
                <div class="frTree">
                
                    <svg class="rf" height="1000" width="15">
                        <text x="5" y="35" fill="black">rf</text>
                        {% if forloop.first %}
                            {# vertical line down and full horizontal line #}
                        <line class="vertiBottom" x1="5" y1="40" x2="5" y2="1000" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line class="horiLong" x1="0" y1="40" x2="15" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                        {% elif forloop.last %}
                            {# short vertical line #}
                        <line  class="vertiTop"x1="5" y1="0" x2="5" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line class="horiShort" x1="5" y1="40" x2="15" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                        {% else %}
                            {# full vertical line #}
                        <line class="vertiFull" x1="5" y1="0" x2="5" y2="1000" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line class="horiShort" x1="5" y1="40" x2="15" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                        {% endif %}
                    </svg>
                    
                    {% include  temp_name %}
                </div>
                
            {% endwith %}   
            
        {% endfor %}
{% endif %}
</div>
